@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  text-align: center;
  font-family: "Space Mono", monospace;
  background-color: #fff;
  color: #000;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode {
  background-color: #141d2f;
  color: #fff;
}
.header-dark-mode {
  color: #fff;
}
.search-dark-mode {
  background-color: #1e2a47;
  color: #fff;
}
.main-dark-mode {
  background-color: #1e2a47;
  color: #fff;
}
.main-light-mode {
  /* background-color: #1e2a47; */
  color: #4b6a9b;
}
